{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

	<style type="text/css">
		#color-palette {
			width: 300px;
			background-color: #f1f1f1;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			top: 0;
		}

		.swatch {
			width: 24px;
			height: 24px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			margin: 3px;
		}

		#myCanvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		}
	</style>

	<script type="text/javascript" canvas="canvas">
		window.onload = function() {
			var canvas = document.getElementById('myCanvas');

			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/mandala-freepik.svg'
			};	

			// color palette
			var cp = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}

			// your rectangle gradient interaction goes in this function
			// you may also add code outside of the function (e.g., global variables)
			function myGradientInteraction(){
        var tool = new paper.Tool();
        
        paper.install(window);
        
        // TODO1:
        // Using paper.js, create a rectangle on the center of the screen 
        // (place the rectangle over the mandala, no need to remove the mandala first). Fill color red. 
        var rect = new paper.Rectangle(new Point(100, 100), new Size(500, 500));
        var newPath = new Path.Rectangle(rect);
        newPath.fillColor = "red";

        // TODO2:
        // Create a paper.Tool that has the following interaction
        // ~ 20-30 lines of code different from skeleton
        // On mouseup, set the fillColor of the rectangle to a  gradient color object as follows: 
        // stops: the last two colors selected from the color palette (cp.history)
        // origin: the mousedown point
        // destination: the mouseup point

				tool.onMouseUp = function (event) {
					newPath.fillColor = new Color({
            gradient: {
              stops: [cp.history[cp.history.length - 1], 
                      cp.history[cp.history.length - 2]]
            },
                 origin: event.point,
                 destination: event.lastPoint
            }
        );
				}
      }

			// your custom interaction goes here!
			// you may replace everything
			function myCustomInteraction() {
				var tool = new paper.Tool();

				tool.onMouseDown = function (event) {
				    var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
				    if (hit) {
				        hit.item.fillColor = cp.history[cp.history.length - 1];
				    }
				}
        

        tool.onMouseDrag = function (event) {
          var hit = mandala.item.hitTest(event.point, { tolerance: 5, fill: true });
				    if (hit) {
				        hit.item.fillColor = {
                  hue: event.count*1.5,
                  saturation: 1,
                  brightness: 1
              };
				    }
			}
      }


			// create a color palette with the given colors
			function createColorPalette(colors){

				// create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i])
									   .addClass("swatch");
					$swatch.click(function(){
						// add color to the color palette history
					  	cp.history.push($(this).css("background-color"));
					});
					cp.$container.append($swatch);
				}
			}

			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette(){
				cp.$container.html(" ");
				$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][500]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom){
				paper.setup(canvas);
				getColorsCreatePalette();

				paper.project.importSVG(mandala.filePath, function(item) { 
					mandala.item = item._children["design-freepik"];
				    paper.project.insertLayer(0,mandala.item);

				    if (custom) {
				    	myCustomInteraction();	
				    } else {
				    	myGradientInteraction();
				    }		
					
				}); 
			}

			// To see your myGradientInteraction version visit: 
			// http://<your url>:8000/coloring/?type=gradient
			// To see your myCustomInteraction version visit: 
			// http://<your url>:8000/coloring/
			var url = window.location.href;
			if (url.indexOf("gradient") > -1) {
				init(false);
			} else {
				init(true);
			}
		}
	</script>
</head>
<body>	

	<canvas id="myCanvas" width="750px" height="750px"></canvas>
	<div id="color-palette"></div>
</body>
</html>